.Footer__row {
  display: flex;
  justify-content: center;
}

.Footer__col > ul {
  list-style: none;
}

.Footer__icons {
  padding: 2rem 2rem 0.5rem 2rem;
}

.Footer__icons > div {
  margin-left: 9.5rem;
}

.Footer__singleIcon {
  margin: 0 1rem;
}

.Footer__col {
 margin: 0 2rem 2rem;
}

.Footer {
  background-color: #1f1f1f;
  font-weight: 700;
  font-size: 0.9rem;
  z-index: -2;
}